* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
a {
    text-decoration: none;
    cursor: pointer;
}

header {
    height: 5rem;
    display: grid;
    grid-row: 1fr 1fr;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-top: 8rem;
}
header .title {
    display: flex;
    height: 3rem;
    width: 17.6rem;   
}
header .sub-title {
    display: flex;
    justify-self: center;
    font-size: 1.5rem;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'serif';
    margin-top: 1rem;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}
main .languages {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/63/Wikipedia-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 50rem;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ul {
    list-style: none;
}
main .languages .languages-round .blue {
    font-size: 1.6rem;
    font-family: 'Segoe UI', 'Roboto' , 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    color: rgb(51, 102, 204);
    cursor: pointer;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}
main .languages .languages-round a {
    color: rgb(84, 89, 93);
    font-family: 'Segoe UI', 'Roboto', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 1.3rem;

}
main .languages .languages-round #english {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 10rem;
}
main .languages .languages-round #english-articles {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 7.2rem;
}
main .languages .languages-round #japanese {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 5rem;
}
main .languages .languages-round #japanese-articles {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 2.5rem;
}
main .languages .languages-round #picc {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 3rem;
}
main .languages .languages-round #picc-articles {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}
main .languages .languages-round #italian {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 5rem;
}
main .languages .languages-round #italian-articles {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 2.5rem;
}
main .languages .languages-round #portugues {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 10rem;
}
main .languages .languages-round #portugues-articles {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 7.2rem;
}
main .languages .languages-round #spanish {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 10rem;
}
main .languages .languages-round #spanish-articles {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 7.2rem;
}
main .languages .languages-round #german {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 15.5rem;
}
main .languages .languages-round #german-articles {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 13rem;
}
main .languages .languages-round #french {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 16.5rem;
}
main .languages .languages-round #french-articles {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 14rem;
}
main .languages .languages-round #zhongwen {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 17rem;
}
main .languages .languages-round #zhongwen-articles {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 13.8rem;
}
main .languages .languages-round #polish {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 10.5rem;
}
main .languages .languages-round #polish-articles {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 7.5rem;
}